<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.keeperrl.offlinemapsforwearos">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>

    <uses-sdk
        android:minSdkVersion="30"
        android:targetSdkVersion="30" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <!--<uses-library
            android:name="com.google.android.wearable"
            android:required="true" />-->

        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <!--<meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />-->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <!--
                Support URIs like "mapsforgesamples://?activity=DefaultTheme&mapdir=/path/to/my/maps&mapfile=my.map".
                Provide custom defaults for SamplesBaseActivity and/or directly jump into an activity.
                Serves as a substitute for command line arguments for easy launches during development.
                If it does not work, check if your IDE (or other tooling) requires you escape the & characters as \&.
                -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="mapsforgesamples" />
            </intent-filter>
        </activity>
    </application>

</manifest>